.row.content {
	margin: 10px;
	height: 1090px;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.sidenav {
	background-color: #f1f1f1;
	height: 1040px;
	padding-top: 20px;
}

.cus-pagination {
	text-align: center;
}

.up-btn-gp {
	text-align: right;
}

.mrg_form {
	margin-bottom: 10px;
}

.table {
	margin-top: 20px;
	margin-bottom: 10px !important;
}

.custom-label {
	display: block;
	margin-bottom: 15px;
}

.custom-checkbox {
	width: 20px;
	height: 20px;
	margin-right: 5px;
}

.custom-color_box {
	width: 30px;
	height: 30px;
}

.cus_left-panel {
	border: 1px solid #000 !important;
	padding: 10px;
}

.cus_modal-footer {
	padding: 15px;
	text-align: right;
	border: none;
}

.mt-link {
	margin-top: 20px;
}

a:focus, a:hover {
	text-decoration: none !important;
	/* Remove underline on hover and focus */
}

a:active {
	outline: 0; /* Remove outline when link is active (clicked) */
}

.form-group {
	margin-bottom: 15px;
	/* margin-top: 15px !important; */
}

thead {
	font-weight: bold !important;
	font-size: 13px !important;
}

tbody {
	font-size: 12px !important;
}